html, body, #root {
  height: 100%;
  background: #1e1e1e;

  color: #fff;
}

.choose {
  max-height: 100vh;
}

.choose > div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;

  transition: all .5s;
}

.choose svg {
  width: 50%;
  margin: 0 auto;
}

.one > div {
  background-image: url('/assets/img/game-bg-1.jpg');
} .two > div {
  background-image: url('/assets/img/game-bg-2.jpg');
} .three > div {
  background-image: url('/assets/img/game-bg-3.jpg');
}

.choose:hover > div,
.choose:focus > div {
  transform: scale(0.9);
}